{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->
        {% include 'header.html' %}
        <div class="ArtistDetails">
            <img class="ArtistDetails-poster" src="{{ artist["image"] }}">
            <div class="ArtistDetails-info">
               <div class="ArtistDetails-titleRow">
                  <div class="ArtistDetails-titleContainer">
                     <div class="ArtistDetails-title">{{ artist["name"] }}</div>
                  </div>
               </div>
               <div class="ArtistDetails-details">
                  <div>
                     <span><span class="ArtistGenres-genres">{{ artist["genres"] }}</span></span>
                  </div>
               </div>
            </div>
         </div>
         <div class="table-container">
            <table id="data" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Spotify Song Title</th>
                    <th>Spotify Album Name</th>
                    <th>Playlist Name</th>
                </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                    {% if song["subsonic_song_id"] is none %}
                        <td><i class="fa fa-exclamation-triangle" aria-hidden="true" title="Song is missing from Subsonic"></i></td>
                    {% else %}
                        <td><i class="fa fa-check-square" aria-hidden="true" title="Song is matched with a Subsonic Track"></i></td>
                    {% endif %}
                    <td><a href="{{ url_for('song', uuid=song.uuid) }}" class="normal-href">{{ song.title }}</a></td>
                    <td><a href="{{ url_for('album', uuid=song.album_uuid) }}" class="normal-href">{{ song.album_name }}</a></td>
                    <td><a href="{{ url_for('playlists', missing_only=0, page=1, limit=25, order='spotify_song.title', asc=1, search=song.subsonic_playlist_name ) }}" class="normal-href">{{ song.subsonic_playlist_name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    
{% endblock %}