<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">



    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img//favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img//favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img//site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='img//safari-pinned-tab.svg') }}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">



    <!-- The title of our application is defined here -->
    {% block title %}
        {% if title %}
            <title>{{ title }} - Spotisub</title>
        {% else %}
            <title>Spotisub</title>
        {% endif %}
    {% endblock %}

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/light.css') }}">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    {% if title != "Login" and title != "Create Spotisub credentials" and title != "Error!" %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% endif %}
    {% if title == "Overview" %}
        <script src="{{ url_for('static', filename='js/overview.js') }}"></script>
    {% endif %}
    {% if title == "Playlist" %}
        <script src="{{ url_for('static', filename='js/playlist.js') }}"></script>
    {% endif %}
    {% if title == "Logs" %}
        <script src="{{ url_for('static', filename='js/logs.js') }}"></script>
    {% endif %}
    {% if title == "Tasks" %}
        <script src="{{ url_for('static', filename='js/tasks.js') }}"></script>
    {% endif %}

</head>
<body>
    {% block navbar %}
        {% if current_user.is_authenticated %}
            <div class="wrapper">
                <!-- Sidebar  -->
                <nav id="sidebar">         
                    <ul class="list-unstyled components">
                        <li>
                            <a href="#playlistsSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <i class="fas fa-music"></i>
                                Playlists</a>
                            {% if ((title == "Overview") or (title == "Manage") or (title == "Missing") or (title == "Playlist") or (title == "Song") or (title == "Artist")  or (title == "Album")) %}
                            <ul class="show collapse list-unstyled" id="playlistsSubMenu">
                            {% else %}
                            <ul class="collapse list-unstyled" id="playlistsSubMenu">
                            {% endif %}                            
                                {% if title == "Overview" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}     
                                    <a href="{{ url_for('overview', page=1) }}">Overview</a>
                                </li>
                                {% if title == "Manage" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}     
                                    <a href="{{ url_for('playlists', missing_only=0) }}">Manage</a>
                                </li>
                                {% if title == "Missing" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="{{ url_for('playlists', missing_only=1) }}">Missing</a>
                                </li>
                            </ul>
                        </li>
                        <!--<li>
                            <a href="#settingsSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <i class="fas fa-cogs"></i>
                                Settings</a>
                            {% if ((title == "Paths") or (title == "Jobs") or (title == "Addons") or (title == "General")  or (title == "UI")) %}
                            <ul class="show collapse list-unstyled" id="settingsSubMenu">
                            {% else %}
                            <ul class="collapse list-unstyled" id="settingsSubMenu">
                            {% endif %}               
                                {% if title == "Paths" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">Paths</a>
                                </li>
                                {% if title == "Jobs" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">Jobs</a>
                                </li>
                                {% if title == "Addons" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">Addons</a>
                                </li>
                                {% if title == "General" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">General</a>
                                </li>
                                {% if title == "UI" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">UI</a>
                                </li>
                            </ul>
                        </li>-->
                        <li>
                            <a href="#systemSubMenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <i class="fas fa-laptop"></i>
                                System</a>
                            {% if ((title == "Status") or (title == "Tasks") or (title == "Updates") or (title == "Logs")) %}
                            <ul class="show collapse list-unstyled" id="systemSubMenu">
                            {% else %}
                            <ul class="collapse list-unstyled" id="systemSubMenu">
                            {% endif %}  
                                {% if title == "Status" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">Status</a>
                                </li>
                                {% if title == "Tasks" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="{{ url_for('tasks') }}">Tasks</a>
                                </li>
                                <!--{% if title == "Updates" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="#">Updates</a>
                                </li>-->
                                {% if title == "Logs" %}
                                <li class="active">
                                {% else %}
                                <li>
                                {% endif %}  
                                    <a href="{{ url_for('logs') }}">Logs</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>

                <!-- Page Content  -->
                <div id="content">

                    {% block current_user_content %}

                    {% endblock %}
                </div>
            </div>
        {% else %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container">
                    <a class="navbar-brand" href=" {{ url_for('playlists') }} ">Spotisub</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        {% endif %}
    {% endblock %}

    {% block content %}
        <div class="container">      
            <!-- Contents of all our pages will go here -->

            {% block app_content %}{% endblock %}
        </div>
    {% endblock %}

    {% block scripts %}
        <!-- jQuery CDN - Slim version (=without AJAX) -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <!-- Popper.JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <!-- Bootstrap JS -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <!-- jQuery Custom Scroller CDN -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
    {% endblock %}
</body>

</html>