<ul id="header-base" class="pagination">
    <li>
        <a href="{{ url_for('overview') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="Spotisub" width="34px" height="34px" id="logo" class="logo">  
        </img></a>
    </li>
    <li>
        <a href="#" id="sidebarCollapse"><i class="fa fa-bars" aria-hidden="true"  ></i></a>
    </li>
    <li>
        <input onkeypress="keypressPlaylistsResults(event,0,1,25);" id="text-search" class="text-search"  type="text" placeholder="Search..." value="{% if search %}{{ search }}{%endif %}"/>
    </li>
    <li>
        <a href="javascript:searchPlaylistsResults(0,1,25);" class="search-submit"><i class="fa fa-search"></i></a>
    </li>
</ul>