{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="row">
    <div class="col-md-12 text-center">
        <!-- Flash message -->
        {% include '_flash_message.html' %}
        <!-- End of flash message -->
        <h1>{{ title }}</h1>
    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <!-- Emtpy column -->
        </div>
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
            <p>
                <a href="{{ url_for('register') }}">Create new Spotisub credentials</a>.
            </p>
        </div>
        <div class="col-md-4">
            <!-- Emtpy column -->
        </div>
    </div>
{% endblock %}