{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->
        {% include 'header.html' %}
        {% include 'toolbar.html'%}
        <div id="output-log-div" class="output-log-div">
            <ul id="output-log" class="output-log-pre">
                {% for line in lines %}
                <li>
                    {{ line }}
                </li>
                {% endfor %}
            </ul>
        </div>
{% endblock %}