{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->


        {% include 'header.html' %}

        
        {% with initial_url=url_for('overview', page=current_page, limit=limit), order=order, asc=asc, page_type='overview' %}
            {% include 'toolbar.html'%}
        {% endwith %}

        
        <div class="table-container">
            <table id="data" class="table table-card">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        {% if order == 'subsonic_spotify_relation.subsonic_playlist_name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('overview', page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_playlist_name', asc=0) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('overview', page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_playlist_name', asc=1) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('overview', page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_playlist_name', asc=0) }}" class="normal-href">Playlist Name</a>   
                        {% endif %}
                        <th>
                        {% if order == 'playlist_info.type' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('overview', page=current_page, limit=limit, order='playlist_info.type', asc=0) }}" class="normal-href">Type<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('overview', page=current_page, limit=limit, order='playlist_info.type', asc=1) }}" class="normal-href">Type<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('overview', page=current_page, limit=limit, order='playlist_info.type', asc=0) }}" class="normal-href">Type</a>   
                        {% endif %}</th>
                        <th>Link</th>
                        <th>Tracks</th>
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for playlist in playlists %}
                    <tr>
                    <td id="table-image">
                        <img class="InfoDetails-poster-overview" alt="{{ playlist["subsonic_playlist_name"] }}" onclick="location.href='{{ url_for('playlists', missing_only=0, page=1, limit=limit, order='spotify_song.title', asc=1, search=playlist["subsonic_playlist_name"]) }}'" 
                        src="{% if playlist["image"] != '' %}{{ playlist["image"] }}{% else %}{{ url_for('static', filename='img/logo.png') }}{% endif %}">
                    </td>
                    <td id="table-href"><a href="{{ url_for('playlists', missing_only=0, page=1, limit=limit, order='spotify_song.title', asc=1, search=playlist["subsonic_playlist_name"]) }}" class="normal-href">{{ playlist["subsonic_playlist_name"] }}</a></td>
                    <td id="table-type">{{ playlist["type_desc"] }}</td>
                    <td id="table-spotify-link">
                            {% if playlist["type"] == "user_playlists" %}
                                <a href="{{ playlist["spotify_playlist_link"] }}" class="article normal-href" target="_blank">
                                    View Playlist on Spotify
                                </a>
                            {% elif (playlist["type"] == "artist_recommendations") or (playlist["type"] == "artist_top_tracks") %}
                                <a href="{{ playlist["spotify_playlist_link"] }}" class="article normal-href" target="_blank">
                                    View Artist on Spotify
                                </a>
                            {% else %}
                                <a href="https://open.spotify.com/" class="article normal-href" target="_blank">
                                    View on Spotify
                                </a>
                            {% endif %}
                    </td>
                    <td id="table-progress">
                        <div class="progress-bar__wrapper">
                            <label class="progress-bar__value" htmlFor="progress-bar"> {{ playlist["matched"] }}/{{ playlist["total"] }} </label>
                            {% if playlist["percentage"] <= 20 %}
                                <progress id="progress-bar" style="--color:#ff3030;" value="{{ playlist["matched"] }}" max="{{ playlist["total"] }}"></progress>
                            {% elif playlist["percentage"] > 20 and playlist["percentage"] <= 40 %}
                                <progress id="progress-bar" style="--color:#ff9029;" value="{{ playlist["matched"] }}" max="{{ playlist["total"] }}"></progress>
                            {% elif playlist["percentage"] > 40 and playlist["percentage"] <= 60 %}
                                <progress id="progress-bar" style="--color:#a742ff;" value="{{ playlist["matched"] }}" max="{{ playlist["total"] }}"></progress>
                            {% elif playlist["percentage"] > 60 and playlist["percentage"] <= 80 %}
                                <progress id="progress-bar" style="--color:#524fff;" value="{{ playlist["matched"] }}" max="{{ playlist["total"] }}"></progress>
                            {% else %}
                                <progress id="progress-bar" style="--color:#31a348;" value="{{ playlist["matched"] }}" max="{{ playlist["total"] }}"></progress>
                            {% endif %}
                        </div>
                    </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination footer">
            {% if current_page != 1 %}
            <li>
                <a href="{{ url_for('overview', page=prev_page, limit=limit, order=order, asc=asc) }}" class="article"><</a>
            </li>
            {% endif %}
            {% for page in pagination_array %}
                <li>
                    {% if page == current_page %}
                        <a href="{{ url_for('overview', page=page, limit=limit, order=order, asc=asc) }}" class="article-active">{{ page }}</a>
                    {% else %}
                        <a href="{{ url_for('overview', page=page, limit=limit, order=order, asc=asc) }}" class="article">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            {% if current_page != total_pages %}
            <li>
                <a href="{{ url_for('overview', page=next_page, limit=limit, order=order, asc=asc) }}" class="article">></a>
            </li>
            {% endif %}
            <li>
                <span class="text-limit">Items per page:</span>
            </li>
            <li>
                <select onchange="location = this.value;">
                    <option value="{{ url_for('overview', page=1, limit=25, order=order, asc=asc) }}" {% if limit == 25 %} selected{% endif %}>25</option>
                    <option value="{{ url_for('overview', page=1, limit=50, order=order, asc=asc) }}" {% if limit == 50 %} selected{% endif %}>50</option>
                    <option value="{{ url_for('overview', page=1, limit=100, order=order, asc=asc) }}" {% if limit == 100 %} selected{% endif %}>100</option>
                    <option value="{{ url_for('overview', page=1, limit=250, order=order, asc=asc) }}" {% if limit == 250 %} selected{% endif %}>250</option>
                    <option value="{{ url_for('overview', page=1, limit=500, order=order, asc=asc) }}" {% if limit == 500 %} selected{% endif %}>500</option>
                </select>
            </li>
            <li>
                <span class="text-limit">{{ (current_page * limit) - limit + 1 }}-{{ (current_page * limit) - limit + (playlists|length) }} of {{ result_size }}</span>
            </li>
        </ul>


    
{% endblock %}