{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->


        {% include 'header.html' %}

        
        {% with initial_url=url_for('overview', page=current_page, limit=limit), order=order, asc=asc, page_type='overview' %}
            {% include 'toolbar.html'%}
        {% endwith %}

        
        <div class="table-container">
            <table id="data" class="table table-card">
                <thead>
                <tr>
                    <th>
                        {% if order == 'playlist_info.subsonic_playlist_name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('overview', page=1, limit=limit, order='playlist_info.subsonic_playlist_name', asc=0) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('overview', page=1, limit=limit, order='playlist_info.subsonic_playlist_name', asc=1) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('overview', page=1, limit=limit, order='playlist_info.subsonic_playlist_name', asc=0) }}" class="normal-href">Playlist Name</a>   
                        {% endif %}
                        <th>
                        {% if order == 'playlist_info.type' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('overview', page=1, limit=limit, order='playlist_info.type', asc=0) }}" class="normal-href">Type<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('overview', page=1, limit=limit, order='playlist_info.type', asc=1) }}" class="normal-href">Type<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('overview', page=1, limit=limit, order='playlist_info.type', asc=0) }}" class="normal-href">Type</a>   
                        {% endif %}</th>
                        <th>Link</th>
                        <th>Tracks</th>
                    </th>
                </tr>
                </thead>
                <tbody id="overview_data">
                    {% include 'overview_content.html'%}
                    <tr id="loading-more">
                        <td id="table-image"></td>
                        <td id="table-href"><i class="svg-fa-spin-loading fa fa-sync" aria-hidden="true"></i>
                            <div class="PageToolbarButton-labelContainer">
                               <span class="PageToolbarButton-label">Loading...</div>
                            </div>
                            <div class="PageToolbarButton-labelContainer">
                               <span id="loading-overview-span" class="PageToolbarButton-label"></div>
                            </div>
                        </td>
                        <td id="table-type"></td>
                        <td id="table-spotify-link">
                        </td>
                        <td id="table-progress">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <input type="hidden" id="limit" value="{{ limit }}" />
        <input type="hidden" id="order" value="{{ order }}" />
        <input type="hidden" id="asc" value="{{ asc }}" />
        <input type="hidden" id="page" value="{{ current_page }}" />
        <input type="hidden" id="result_size" value="{{ result_size }}" />
        <input type="hidden" id="overview_url" value="{{ url_for('overview_content') }}" />
        <ul class="pagination footer">
            <li>
                <span class="text-limit">Found {{ result_size }} Playlists</span>
                <br />
                <span class="text-limit">Some results may be hidden by filters</span>
            </li>
        </ul>


    
{% endblock %}