{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->


        {% include 'header.html' %}

        
        <div class="table-container">
            <table id="data" class="table table-striped">
                <thead>
                <tr>
                    <th>
                        {% if order == 'subsonic_spotify_relation.subsonic_song_id' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_song_id', asc=0, search=search) }}" class="normal-href">Status<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_song_id', asc=1, search=search) }}" class="normal-href">Status<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_song_id', asc=0, search=search) }}" class="normal-href">Status</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'spotify_song.title' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_song.title', asc=0, search=search) }}" class="normal-href">Spotify Song Title<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_song.title', asc=1, search=search) }}" class="normal-href">Spotify Song Title<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_song.title', asc=0, search=search) }}" class="normal-href">Spotify Song Title</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'spotify_artist.name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_artist.name', asc=0, search=search) }}" class="normal-href">Spotify Artist<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_artist.name', asc=1, search=search) }}" class="normal-href">Spotify Artist<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_artist.name', asc=0, search=search) }}" class="normal-href">Spotify Artist</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'spotify_album.name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_album.name', asc=0, search=search) }}" class="normal-href">Spotify Album<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_album.name', asc=1, search=search) }}" class="normal-href">Spotify Album<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='spotify_album.name', asc=0, search=search) }}" class="normal-href">Spotify Album</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'subsonic_spotify_relation.subsonic_playlist_name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_playlist_name', asc=0, search=search) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_playlist_name', asc=1, search=search) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('playlists', missing_only=missing_only, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_playlist_name', asc=0, search=search) }}" class="normal-href">Playlist Name</a>   
                        {% endif %}
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for playlist in playlists %}
                    <tr>
                    {% if playlist.subsonic_song_id is none %}
                        <td><i class="fa fa-exclamation-triangle" aria-hidden="true" title="Song is missing from Subsonic"></i></td>
                    {% else %}
                        <td><i class="fa fa-check-square" aria-hidden="true" title="Song is matched with a Subsonic Track"></i></td>
                    {% endif %}
                    <td><a href="https://open.spotify.com/track/{{ playlist.spotify_song_uri.split(':')[2] }}" alt="{{ playlist.spotify_song_title }} on Spotify" class="normal-href" target="_blank">{{ playlist.spotify_song_title }}</a></td>
                    <td>{% for name in (playlist.spotify_artist_names.split(",") | unique) %}
                            <a href="javascript:gotoArtist('{{ playlist.spotify_song_uuid }}_artist_{{ loop.index }}');" class="normal-href">{{ name }}</a>
                        {% endfor %}
                        {% for uuid in (playlist.spotify_artist_uuids.split(",") | unique) %}
                            <input type="hidden" id="{{ playlist.spotify_song_uuid }}_artist_{{ loop.index }}" value="{{ uuid }}" />
                        {% endfor %}
                    </td>
                    <td><a href="{{ url_for('album', uuid=playlist.spotify_album_uuid) }}" class="normal-href">{{ playlist.spotify_album_name }}</a></td>
                    <td><a href="{{ url_for('playlists', missing_only=missing_only, page=1, limit=limit, order=order, asc=asc, search=playlist.subsonic_playlist_name) }}" class="normal-href">{{ playlist.subsonic_playlist_name }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination footer">
            {% if current_page != 1 %}
            <li>
                <a href="{{ url_for('playlists', missing_only=missing_only, page=prev_page, limit=limit, order=order, asc=asc, search=search) }}" class="article"><</a>
            </li>
            {% endif %}
            {% for page in pagination_array %}
                <li>
                    {% if page == current_page %}
                        <a href="{{ url_for('playlists', missing_only=missing_only, page=page, limit=limit, order=order, asc=asc, search=search) }}" class="article-active">{{ page }}</a>
                    {% else %}
                        <a href="{{ url_for('playlists', missing_only=missing_only, page=page, limit=limit, order=order, asc=asc, search=search) }}" class="article">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            {% if current_page != total_pages %}
            <li>
                <a href="{{ url_for('playlists', missing_only=missing_only, page=next_page, limit=limit, order=order, asc=asc, search=search) }}" class="article">></a>
            </li>
            {% endif %}
            <li>
                <span class="text-limit">Items per page:</span>
            </li>
            <li>
                <select onchange="location = this.value;">
                    <option value="{{ url_for('playlists', missing_only=missing_only, page=1, limit=25, order=order, asc=asc, search=search) }}" {% if limit == 25 %} selected{% endif %}>25</option>
                    <option value="{{ url_for('playlists', missing_only=missing_only, page=1, limit=50, order=order, asc=asc, search=search) }}" {% if limit == 50 %} selected{% endif %}>50</option>
                    <option value="{{ url_for('playlists', missing_only=missing_only, page=1, limit=100, order=order, asc=asc, search=search) }}" {% if limit == 100 %} selected{% endif %}>100</option>
                    <option value="{{ url_for('playlists', missing_only=missing_only, page=1, limit=250, order=order, asc=asc, search=search) }}" {% if limit == 250 %} selected{% endif %}>250</option>
                    <option value="{{ url_for('playlists', missing_only=missing_only, page=1, limit=500, order=order, asc=asc, search=search) }}" {% if limit == 500 %} selected{% endif %}>500</option>
                </select>
            </li>
            <li>
                <span class="text-limit">{{ (current_page * limit) - limit + 1 }}-{{ (current_page * limit) - limit + (playlists|length) }} of {{ result_size }}</span>
            </li>
        </ul>


    
{% endblock %}