{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->
        {% include 'header.html' %}

        {% with initial_url=url_for('song', uuid=uuid, page=current_page, limit=limit), order=order, asc=asc %}
            {% include 'toolbar.html'%}
        {% endwith %}

        <div class="InfoDetails">
            <img class="InfoDetails-poster" src="{% if song["image"] != '' %}{{ song["image"] }}{% else %}{{ url_for('static', filename='img/logo.png') }}{% endif %}">
            <div class="InfoDetails-info">
               Song
               {% if song["ignored"] == 1 %}
               (Ignored)         
               {% endif %}
               <div class="InfoDetails-titleRow">
                  <div class="InfoDetails-titleContainer">
                     <div class="InfoDetails-title">{{ song["name"] }}</div>
                  </div>
               </div>
               <div>

               {% if song["popularity"] != '' %}
                    <span class="InfoDetails-details"><i class="fa fa-heart fa-margin-right" aria-hidden="true"></i><span class="HeartRating-rating">{{ song["popularity"] }}</span>
               {% endif %}
               {% if song["url"] != '' %}
                   <span class="InfoDetails-details"><a href="{{ song["url"] }}" class="article normal-href" target="_blank">{{ song["name"] }} on Spotify</a></span>
               {% endif %}
               </div>
            </div>
         </div>
         <div class="InfoDescription">
         {% if song["preview_url"] != '' %}
             <audio controls>
                 <source src="{{ song["preview_url"] }}" type="audio/mp3">
               Your browser does not support the audio element.
             </audio>
         {% endif %}
         </div>
         <div class="table-container">
            <table id="data" class="table table-striped">
                <thead>
                <tr>
                    <th>
                        {% if order == 'subsonic_spotify_relation.subsonic_song_id' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_song_id', asc=0) }}" class="normal-href">Status<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_song_id', asc=1) }}" class="normal-href">Status<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='subsonic_spotify_relation.subsonic_song_id', asc=0) }}" class="normal-href">Status</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'spotify_song.title' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_song.title', asc=0) }}" class="normal-href">Spotify Song Title<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_song.title', asc=1) }}" class="normal-href">Spotify Song Title<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_song.title', asc=0) }}" class="normal-href">Spotify Song Title</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'spotify_artist.name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_artist.name', asc=0) }}" class="normal-href">Spotify Artist<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_artist.name', asc=1) }}" class="normal-href">Spotify Artist<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_artist.name', asc=0) }}" class="normal-href">Spotify Artist</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'spotify_album.name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_album.name', asc=0) }}" class="normal-href">Spotify Album<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_album.name', asc=1) }}" class="normal-href">Spotify Album<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='spotify_album.name', asc=0) }}" class="normal-href">Spotify Album</a>   
                        {% endif %}
                    </th>
                    <th>
                        {% if order == 'playlist_info.subsonic_playlist_name' %}
                            {% if asc == 1 %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='playlist_info.subsonic_playlist_name', asc=0) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-asc" aria-hidden="true"></i></a>
                            {% else %}
                                <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='playlist_info.subsonic_playlist_name', asc=1) }}" class="normal-href">Playlist Name<i class="sorting fa fa-sort-desc" aria-hidden="true"></i></a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('song', uuid=uuid, page=current_page, limit=limit, order='playlist_info.subsonic_playlist_name', asc=0) }}" class="normal-href">Playlist Name</a>   
                        {% endif %}
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
                </thead>
                <tbody>
                {% for song in songs %}
                    <tr>
                        {% if song["ignored"] == 1 %}
                        <td><i class="fa fa-ban" aria-hidden="true" title="Song is marked as ignored in every playlist"></i></td>
                        {% elif song["ignored_pl"] == 1 %}
                        <td><i class="fa fa-minus-circle" aria-hidden="true" title="Song is marked as ignored in some playlist"></i></td>
                        {% elif song["subsonic_song_id"] is none %}
                            <td><i class="fa fa-exclamation-triangle" aria-hidden="true" title="Song is missing from Subsonic"></i></td>
                        {% else %}
                            <td><i class="fa fa-check-square" aria-hidden="true" title="Song is matched with a Subsonic Track"></i></td>
                        {% endif %}
                    <td>{{ song.spotify_song_title }}</td>
                    <td>{% set break = False %}
                        {% for artist_ignored in (song.spotify_artist_ignored.split(",") | unique) %}
                            {% if not break and artist_ignored == "1" %}
                                {% if ((song.spotify_artist_names.split(","))|length) == 1 %}
                                    <i class="fa fa-ban" aria-hidden="true" title="This artist is marked as ignored"></i>
                                {% else %}
                                    <i class="fa fa-ban" aria-hidden="true" title="Some of these artists are marked as ignored"></i>
                                {% endif %}
                                {% set break = True %}
                            {% endif %}
                        {% endfor %}
                        {% for name in (song.spotify_artist_names.split(",") | unique) %}
                        <a href="javascript:gotoArtist('{{ song.spotify_song_uuid }}_artist_{{ loop.index }}');" class="normal-href">{{ name }}</a>
                        {% endfor %}
                        {% for uuid in (song.spotify_artist_uuids.split(",") | unique) %}
                            <input type="hidden" id="{{ song.spotify_song_uuid }}_artist_{{ loop.index }}" value="{{ uuid }}" />
                        {% endfor %}
                    </td>
                    <td>{% if song.spotify_album_ignored == 1 %}
                        <i class="fa fa-ban" aria-hidden="true" title="This album is marked as ignored"></i>
                        {% endif %}
                        <a href="{{ url_for('album', uuid=song.spotify_album_uuid) }}" class="normal-href">{{ song.spotify_album_name }}</a></td>
                    <td>
                        {% if song.ignored_whole_pl == 1 %}
                        <i class="fa fa-ban" aria-hidden="true" title="This playlist is marked as ignored"></i>
                        {% endif %}
                        <a href="{{ url_for('playlist', uuid=song.uuid, page=1, limit=limit, order='spotify_song.title', asc=1) }}" class="normal-href">{{ song.subsonic_playlist_name }}</a></td>
                    <td>

                        {% if song.ignored_pl == 1 %}
                            <a href="javascript:callUrlAndReload('{{url_for('ignore', type='song_pl', uuid=song.relation_uuid, value='0')}}');" class="normal-href">
                                <i class="fa fa-plus fa-custom-link" title="Mark this song as not ignored in this playlist" aria-hidden="true"></i>
                            </a>
                        {% else %}
                            <a href="javascript:callUrlAndReload('{{url_for('ignore', type='song_pl', uuid=song.relation_uuid, value='1')}}');" class="normal-href">
                                <i class="fa fa-eraser fa-custom-link" title="Mark this song as ignored in this playlist" aria-hidden="true"></i>
                            </a>
                        {% endif %}

                        {% if song.subsonic_song_id is none %}
                            <!-- <i class="fa fa-download fa-custom-link" title="Download this song using SPOTDL" aria-hidden="true"></i> -->
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <ul class="pagination footer">
            {% if current_page != 1 %}
            <li>
                <a href="{{ url_for('song', uuid=uuid, page=prev_page, limit=limit, order=order, asc=asc) }}" class="article"><</a>
            </li>
            {% endif %}
            {% for page in pagination_array %}
                <li>
                    {% if page == current_page %}
                        <a href="{{ url_for('song', uuid=uuid, page=page, limit=limit, order=order, asc=asc) }}" class="article-active">{{ page }}</a>
                    {% else %}
                        <a href="{{ url_for('song', uuid=uuid, page=page, limit=limit, order=order, asc=asc) }}" class="article">{{ page }}</a>
                    {% endif %}
                </li>
            {% endfor %}
            {% if current_page != total_pages %}
            <li>
                <a href="{{ url_for('song', uuid=uuid, page=next_page, limit=limit, order=order, asc=asc) }}" class="article">></a>
            </li>
            {% endif %}
            <li>
                <span class="text-limit">Items per page:</span>
            </li>
            <li>
                <select onchange="location = this.value;">
                    <option value="{{ url_for('song', uuid=uuid, page=1, limit=25, order=order, asc=asc) }}" {% if limit == 25 %} selected{% endif %}>25</option>
                    <option value="{{ url_for('song', uuid=uuid, page=1, limit=50, order=order, asc=asc) }}" {% if limit == 50 %} selected{% endif %}>50</option>
                    <option value="{{ url_for('song', uuid=uuid, page=1, limit=100, order=order, asc=asc) }}" {% if limit == 100 %} selected{% endif %}>100</option>
                    <option value="{{ url_for('song', uuid=uuid, page=1, limit=250, order=order, asc=asc) }}" {% if limit == 250 %} selected{% endif %}>250</option>
                    <option value="{{ url_for('song', uuid=uuid, page=1, limit=500, order=order, asc=asc) }}" {% if limit == 500 %} selected{% endif %}>500</option>
                </select>
            </li>
            <li>
                <span class="text-limit">{{ (current_page * limit) - limit + 1 }}-{{ (current_page * limit) - limit + (songs|length) }} of {{ result_size }}</span>
            </li>
        </ul>
    
{% endblock %}