{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->
        {% include 'header.html' %}
         <div class="table-container">
            <table id="data" class="table table-striped">
                <thead>
                <tr>
                    <th></th>
                    <th>Status</th>
                    <th>Task Name</th>
                    <th>Param</th>
                    <th>Interval</th>
                    <th>Next Execution</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                <tr>
                    <td id="spinner_{{task["id"]}}" >
                        {% if task["running"] == "1" %}
                            <i class="svg-fa-spin-task fa fa-sync" aria-hidden="true"></i>
                        {% else %}
                            {% if task["id"] == "reimport_all" %}
                                <i class="svg-fa-task fa fa-pause" aria-hidden="true"></i>
                            {% else %}
                                <i class="svg-fa-spin-task fa fa-spinner" aria-hidden="true"></i>
                            {% endif %}
                        {% endif %}
                    </td>
                    <td id="{{task["running"]}}" >
                        {% if task["running"] == "1" %}
                            Running
                        {% else %}
                            {% if task["id"] == "reimport_all" %}
                                Inactive
                            {% else %}
                                Waiting
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {{ task["type_desc"] }}
                    </td>
                    <td>
                        {{ task["args"] }}
                    </td>
                    <td>
                        {{ task["interval"] }}
                    </td>
                    <td>
                        {{ task["next_execution"] }}
                    </td>
                    <td id="actions_{{task["id"]}}" >
                        {% if task["running"] == "1" %}
                            <i class="fa fa-stop fa-custom-link" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-play fa-custom-link" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
{% endblock %}