<div class="PageToolbar-toolbar">
    <div class="PageToolbarSection-sectionContainer" style="flex-grow: 4;">
       <div class="PageToolbarSection-section PageToolbarSection-left">
          <button type="button" onClick="window.location.reload();return false;" class="PageToolbarButton-toolbarButton Link-link Link-link">
             <i class="svg-fa fa fa-refresh svg-fa" aria-hidden="true"></i>
             <div class="PageToolbarButton-labelContainer">
                <div class="PageToolbarButton-label">Refresh</div>
             </div>
          </button>
          <div class="PageToolbarSeparator-separator"></div>
          {% if title == 'Playlist' %} 
            {% if playlist_info["ignored"] == 1 %} 
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='playlist', uuid=playlist_info["subsonic_playlist_id"], value='0')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this playlist as not ignored" >
               <i class="svg-fa fa fa-plus-square" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Add</div>
               </div>
            </button>
            {% else %}
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='playlist', uuid=playlist_info["subsonic_playlist_id"], value='1')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this playlist as ignored" >
               <i class="svg-fa fa fa-trash" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Ignore</div>
               </div>
            </button>
            {% endif %} 
          {% elif title == 'Artist' %} 
            {% if artist["ignored"] == 1 %} 
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='artist', uuid=artist["uuid"], value='0')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this artist as not ignored" >
               <i class="svg-fa fa fa-plus-square" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Add</div>
               </div>
            </button>
            {% else %}
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='artist', uuid=artist["uuid"], value='1')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this artist as ignored" >
               <i class="svg-fa fa fa-trash" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Ignore</div>
               </div>
            </button>
            {% endif %} 
          {% elif title == 'Album' %} 
            {% if album["ignored"] == 1 %} 
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='album', uuid=album["uuid"], value='0')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this album as not ignored" >
               <i class="svg-fa fa fa-plus-square" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Add</div>
               </div>
            </button>
            {% else %}
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='album', uuid=album["uuid"], value='1')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this album as ignored" >
               <i class="svg-fa fa fa-trash" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Ignore</div>
               </div>
            </button>
            {% endif %} 
          {% elif title == 'Song' %} 
            {% if song["ignored"] == 1 %} 
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='song', uuid=song["uuid"], value='0')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this song as not ignored" >
               <i class="svg-fa fa fa-plus-square" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Add</div>
               </div>
            </button>
            {% else %}
            <button type="button" onClick="callUrlAndReload('{{url_for('ignore', type='song', uuid=song["uuid"], value='1')}}');" class="PageToolbarButton-toolbarButton Link-link Link-link" title="Mark this song as ignored" >
               <i class="svg-fa fa fa-trash" aria-hidden="true"></i>
               <div class="PageToolbarButton-labelContainer">
                  <div class="PageToolbarButton-label">Ignore</div>
               </div>
            </button>
            {% endif %} 
          {% endif %} 
       </div>
    </div>
    <div class="PageToolbarSection-sectionContainer" style="flex-grow: 4;">
       <div class="PageToolbarSection-section PageToolbarSection-right">
          <!--<button type="button" class="PageToolbarButton-toolbarButton Link-link Link-link">
             <i class="svg-fa fa fa-table" aria-hidden="true"></i>
             <div class="PageToolbarButton-labelContainer">
                <div class="PageToolbarButton-label">Options</div>
             </div>
          </button>-->
          {% if sorting_dict or ( page_type and page_type == 'overview' ) %} 
          <div class="PageToolbarSeparator-separator"></div>
          {% endif %} 
          
          {% if ( page_type and page_type == 'overview' ) %} 
          <button type="button" onClick="showView();" class="PageToolbarButton-toolbarButton Link-link Link-link">
            <i class="svg-fa fa fa-eye" aria-hidden="true"></i>
            <div class="PageToolbarButton-labelContainer">
               <div class="PageToolbarButton-label">View</div>
            </div>
         </button>
         <button type="button" onClick="showFilter();" class="PageToolbarButton-toolbarButton Link-link Link-link">
           <i class="svg-fa fa fa-filter" aria-hidden="true"></i>
           <div class="PageToolbarButton-labelContainer">
              <div class="PageToolbarButton-label">Filter</div>
           </div>
        </button>
         {% endif %} 
         {% if sorting_dict %} 
         <button type="button" onClick="showSort();" class="PageToolbarButton-toolbarButton Link-link Link-link">
           <i class="svg-fa fa fa-sort" aria-hidden="true"></i>
           <div class="PageToolbarButton-labelContainer">
              <div class="PageToolbarButton-label">Sort</div>
           </div>
        </button>
        {% endif %} 
       </div>
    </div>
 </div>

 {% if sorting_dict %} 
<div id="toolbar-root-sort" class="nodisplay">
   <div class="MenuContent-menuContent">
      {% for sorting_value, sorting_key in sorting_dict.items() %}
      <div class="MenuContent-scroller Scroller-scroller Scroller-vertical Scroller-autoScroll" tabindex="-1">
         {% if order == sorting_key %}
               {% if asc == 1 %}
                  <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="location.href='{{ initial_url }}/{{ sorting_key }}/{{ 0 }}{% if search %}/{{ search }}/{% else %}/{% endif %}'">
                     <div class="SelectedMenuItem-item">
                        {{ sorting_value }}<i class="sorting fa fa-sort-asc" aria-hidden="true"></i>
                     </div>
                  </button>
               {% else %}
                  <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="location.href='{{ initial_url }}/{{ sorting_key }}/{{ 1 }}{% if search %}/{{ search }}/{% else %}/{% endif %}'">
                     <div class="SelectedMenuItem-item">
                        {{ sorting_value }}<i class="sorting fa fa-sort-desc" aria-hidden="true"></i>
                     </div>
                  </button>
               {% endif %}
         {% else %}
            <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="location.href='{{ initial_url }}/{{ sorting_key }}/{{ 0 }}{% if search %}/{{ search }}/{% else %}/{% endif %}'">
               <div class="SelectedMenuItem-item">
                  {{ sorting_value }}
               </div>
            </button>   
         {% endif %}
      </div>
      {% endfor %}
   </div>
</div>
{% endif %} 
{% if ( page_type and page_type == 'overview' ) %} 
<div id="toolbar-root-view" class="nodisplay">
   <div class="MenuContent-menuContent">
      <div class="MenuContent-scroller Scroller-scroller Scroller-vertical Scroller-autoScroll" tabindex="-1">
         <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="displayTable()">
            <div class="SelectedMenuItem-item">
               Table
            </div>
         </button>  
      </div>
      <div class="MenuContent-scroller Scroller-scroller Scroller-vertical Scroller-autoScroll" tabindex="-1">
         <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="displayPoster()">
            <div class="SelectedMenuItem-item">
               Posters
            </div>
         </button>  
      </div>
      <!--<div class="MenuContent-scroller Scroller-scroller Scroller-vertical Scroller-autoScroll" tabindex="-1">
         <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="location.href='{{ initial_url }}/{{ sorting_key }}/{{ 0 }}{% if search %}/{{ search }}/{% else %}/{% endif %}'">
            <div class="SelectedMenuItem-item">
               Banners
            </div>
         </button>  
      </div>
      <div class="MenuContent-scroller Scroller-scroller Scroller-vertical Scroller-autoScroll" tabindex="-1">
         <button name="status" type="button" class="MenuItem-menuItem Link-link" onclick="location.href='{{ initial_url }}/{{ sorting_key }}/{{ 0 }}{% if search %}/{{ search }}/{% else %}/{% endif %}'">
            <div class="SelectedMenuItem-item">
               Overview
            </div>
         </button>  
      </div>-->
   </div>
</div>
<div id="toolbar-root-filter" class="nodisplay">
   <div class="MenuContent-menuContent">
      <div class="MenuContent-scroller Scroller-scroller Scroller-vertical Scroller-autoScroll" tabindex="-1">
         <div class="SelectedMenuItem-item">
               <input type="text" id="filter-overview-text" onkeyup="filterOverview()" placeholder="Filter...">
         </div> 
      </div>
   </div>
</div>
{% endif %} 