<div class="PageToolbar-toolbar-YMl38">
    <div class="PageToolbarSection-sectionContainer-dcxFs" style="flex-grow: 4;">
       <div class="PageToolbarSection-section-hL6TV PageToolbarSection-left-E_sPJ">
          <button type="button" class="PageToolbarButton-toolbarButton-j8a_b Link-link-RInnp Link-link-RInnp">
             <i class="svg-fa fa fa-refresh svg-fa" aria-hidden="true"></i>
             <div class="PageToolbarButton-labelContainer-QhTz_">
                <div class="PageToolbarButton-label-QIVQh">Refresh</div>
             </div>
          </button>
          <div class="PageToolbarSeparator-separator-N1WHF"></div>
          <button type="button" class="PageToolbarButton-toolbarButton-j8a_b Link-link-RInnp Link-link-RInnp">
             <i class="svg-fa fa fa-check-square" aria-hidden="true"></i>
             <div class="PageToolbarButton-labelContainer-QhTz_">
                <div class="PageToolbarButton-label-QIVQh">Select</div>
             </div>
          </button>
       </div>
    </div>
    <div class="PageToolbarSection-sectionContainer-dcxFs" style="flex-grow: 4;">
       <div class="PageToolbarSection-section-hL6TV PageToolbarSection-right-w45zk">
          <button type="button" class="PageToolbarButton-toolbarButton-j8a_b Link-link-RInnp Link-link-RInnp">
             <i class="svg-fa fa fa-table" aria-hidden="true"></i>
             <div class="PageToolbarButton-labelContainer-QhTz_">
                <div class="PageToolbarButton-label-QIVQh">Options</div>
             </div>
          </button>
          <div></div>
          <div class="PageToolbarSeparator-separator-N1WHF"></div>
          
          <button type="button" class="PageToolbarButton-toolbarButton-j8a_b Link-link-RInnp Link-link-RInnp">
            <i class="svg-fa fa fa-filter" aria-hidden="true"></i>
            <div class="PageToolbarButton-labelContainer-QhTz_">
               <div class="PageToolbarButton-label-QIVQh">Filter</div>
            </div>
         </button>
          
         <button type="button" class="PageToolbarButton-toolbarButton-j8a_b Link-link-RInnp Link-link-RInnp">
           <i class="svg-fa fa fa-sort" aria-hidden="true"></i>
           <div class="PageToolbarButton-labelContainer-QhTz_">
              <div class="PageToolbarButton-label-QIVQh">Sort</div>
           </div>
        </button>
       </div>
    </div>
 </div>