{% extends 'base.html' %}

{% block current_user_content %}
    <!-- Flash message -->
    {% include '_flash_message.html' %}
    <!-- End of flash message -->

    
    <h2>Unmatched Songs</h2>
    
 
    <table id="data" class="table table-striped">
        <thead>
        <tr>
            <th>Spotify Song Title</th>
            <th>Spotify Artist</th>
            <th>Spotify Song URI</th>
            <th>Playlist Name</th>
        </tr>
        </thead>
        <tbody>
        {% for playlist in playlists %}
            {% for song in playlists[playlist] %}
            <tr>
            <td>{{ song["spotify_song_title"] }}</td>
            <td>{% if song["spotify_artists"]|length > 0 %}
                    {{ song["spotify_artists"][0]["name"] }}
                {% endif %}
            </td>
            <td>{{ song["spotify_song_uri"] }}</td>
            <td>{{ playlist }}</td>
            </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <ul class="pagination">
        <li data-page="prev">
            <a href="#" class="article"><<</a>
        </li>
        {% for page in pagination_array %}
            <li>
                {% if page["active"] == "1" %}
                    <a href="#" class="article-active">{{ page["page"] }}</a>
                {% else %}
                    <a href="{{ url_for('unmatched', page=page["page"]) }}" class="article">{{ page["page"] }}</a>
                {% endif %}
            </li>
        {% endfor %}
        <li data-page="next" id="prev" style="display: inline;">
            <a href="#" class="article">>></a>
        </li>
    </ul>
    

    
{% endblock %}