spotipy
python-dotenv==1.0.0
werkzeug==2.1.2
Flask~=2.1.2
flask-restx==0.5.1
click<8.1.0
uWSGI==2.0.21
Flask-APScheduler==1.12.4
py-sonic
ffmpeg
spotdl
sqlalchemy==2.0.7
pyarr
expiringdict
musicbrainzngs